<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="map"/>
  <node pkg="topological_navigation" type="map_manager.py" name="topological_map_manager" args="$(arg map)" respawn="true"/>
  <node pkg="fremenserver" type="fremenserver" name="fremenserver" respawn="true"/>
  <node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" args="$(arg map)" respawn="true"/>
  <node pkg="topological_navigation" type="travel_time_estimator.py" name="travel_time_estimator"/>
  <node pkg="topological_navigation" type="topological_prediction.py" name="topological_prediction" output="screen" respawn="true"/>
</launch>
